/* .accordion {
  margin: 0 auto;
  width: 80%;
} */
.accordion .title {
  padding: 18px 10px 10px;
  cursor: pointer;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  color: white;
  position: relative;
  font-size: 17px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
  text-align: left;
}
.accordion .title i.row-number {
  width: 23%;
  float: left;
}
.accordion .title i.row-name {
  width: 57%;
  display: inline-block;
}
.accordion .title span.tools {
  font-size: 18px;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  position: absolute;
  width: 20%;
  text-align: right;
}
.accordion .title .tools .toggle {
  margin-right: 9px;
  display: inline-block;
}
.accordion .title .tools i.trash {
  right: 60px;
  margin-right: 9px;
}
.accordion .title .tools i.toggle {
  right: 30px;
}
.accordion .title.is-expanded {
  background: rgba(0, 0, 0, 0.1);
  transition: background 0.3s;
  border-bottom: none;
}
.accordion .title.is-expanded .header {
  transition: opacity 0.3s;
  opacity: 0;
}
.accordion .title.is-expanded .tools i.toggle {
  right: 30px;
  transform: rotate(180deg);
}
.accordion .content {
  display: none;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.1s;
  margin: 0;
  padding: 0 30px;
  border-top: 0;
  background: rgba(0, 0, 0, 0.1);
}
.accordion .content table {
  /* padding: 30px 0; */
  margin: 0;
  opacity: 0;
  transition: 0.5s;
}
.accordion .content.is-expanded {
  max-height: 500px;
  overflow: hidden;
  display: block;
}
.accordion .content.is-expanded table {
  opacity: 1;
}
