@font-face {
  font-family: "iot";
  src: url("../fonts/iot.eot?i4mdux");
  src: url("../fonts/iot.eot?i4mdux#iefix") format("embedded-opentype"),
    url("../fonts/iot.ttf?i4mdux") format("truetype"),
    url("../fonts/iot.woff?i4mdux") format("woff"),
    url("../fonts/iot.svg?i4mdux#iot") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="iot-"],
[class*=" iot-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "iot" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iot-device-types:before {
  content: "\e90a";
}
.iot-arrow-down:before {
  content: "\e903";
}
.iot-circle-arrow-down:before {
  content: "\e909";
}
.iot-attention:before {
  content: "\e900";
}
.iot-cubes:before {
  content: "\e901";
}
.iot-go-back-left-arrow:before {
  content: "\e902";
}
.iot-user:before {
  content: "\e904";
}
.iot-magnifying-glass:before {
  content: "\e905";
}
.iot-network:before {
  content: "\e906";
}
.iot-hex-plus:before {
  content: "\e907";
}
.iot-trash-bin:before {
  content: "\e908";
}
