/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  outline: none;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background: #021ca0 url("../images/bg.png") no-repeat;
  background-position: top center;
  -webkit-background-size: fixed;
  -moz-background-size: fixed;
  -o-background-size: fixed;
  background-size: fixed;
  color: white;
  font-size: 14px;
  font-family: "Chakra Petch", Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.border-btn {
  display: inline-block;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.13);
  text-transform: uppercase;
  padding: 4px 60px;
  font-weight: 700;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}
.border-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.no-border-btn {
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  padding: 4px 60px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.no-border-btn:hover {
  color: rgba(255, 255, 255, 0.8);
}

.normal-btn {
  padding: 3px 10px;
  box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.13);
  border: solid 1px rgba(255, 255, 255, 0.51);
  background-color: #397efc;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}
.normal-btn:hover {
  background-color: #0454e4;
}
.normal-btn i {
  position: relative;
  top: 2px;
  margin-right: 7px;
  font-size: 15px;
  width: 15px;
  height: 16px;
}

.custom-select {
  display: inline-block;
  border: 0;
  background-color: none;
  z-index: 10;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
}
.custom-select select {
  border: none;
  outline: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  color: white;
  width: 80px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0 5px 5px;
  margin-left: 10px;
  vertical-align: bottom;
  cursor: pointer;
}
.custom-select:after {
  position: relative;
  top: -8px;
  right: 15px;
  content: "";
  display: inline-block;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  display: none;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #022f80;
  opacity: 0.8;
  overflow-x: auto;
}
.overlay.active {
  display: block;
}
.overlay.active ~ * {
  filter: blur(5px);
  filter: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg"><filter id="blur"><feGaussianBlur stdDeviation="5" /></filter></svg>#blur');
  filter: progid:DXImageTransform.Microsoft.Blur(Strength=$radius);
  -webkit-filter: blur(5px);
  -ms-filter: blur(5px);
  -o-filter: blur(5px);
  -moz-filter: blur(5px);
}
.overlay.active:after {
  content: "";
  position: absolute;
  bottom: -150px;
  left: 50%;
  margin-left: -150px;
  background-color: #ff5252;
  opacity: 0.6;
  width: 300px;
  height: 300px;
  filter: blur(100px);
  filter: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg"><filter id="blur"><feGaussianBlur stdDeviation="100" /></filter></svg>#blur');
  filter: progid:DXImageTransform.Microsoft.Blur(Strength=$radius);
  -webkit-filter: blur(100px);
  -ms-filter: blur(100px);
  -o-filter: blur(100px);
  -moz-filter: blur(100px);
}
.overlay .alert-box {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 450px;
  height: 384px;
  margin: -192px 0 0 -225px;
}
.overlay .alert-box p {
  font-size: 22px;
  margin: 33px 0 50px;
}
.overlay .alert-box .ok-btn,
.overlay .alert-box .yes-btn,
.overlay .alert-box .cancel-btn {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  padding: 7px 80px;
}

.container {
  width: 771px;
  margin: 0 auto;
  padding: 20px 0 70px;
  position: relative;
}
.container::after {
  display: block;
  content: "";
  clear: both;
}

.header::after {
  display: block;
  content: "";
  clear: both;
}

.logo {
  color: white;
}
.logo svg {
  width: 33px;
  height: 37px;
  float: left;
}
.logo img {
  width: 33px;
  height: 37px;
  float: left;
}
.logo span {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  margin: 11px 0 0 10px;
}

.login-btn {
  float: right;
  box-shadow: none;
  border: solid 1px rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  padding-right: 20px;
  padding: 6px 10px 2px;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.login-btn svg {
  width: 16px;
  height: 16px;
}
.login-btn span {
  text-transform: capitalize;
  display: inline-block;
  padding-left: 5px;
  vertical-align: top;
}

.main-menu {
  margin: 288px auto 0;
  width: 651px;
  height: 193px;
}
.main-menu ul li {
  width: 193px;
  height: 193px;
  float: left;
  margin-left: 36px;
  border: solid 1px rgba(255, 255, 255, 0.15);
  background-color: rgba(255, 255, 255, 0.16);
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.main-menu ul li a {
  color: white;
  text-decoration: none;
}
.main-menu ul li:first-child {
  margin-left: 0;
}
.main-menu ul li:hover {
  box-shadow: 0 37px 54px 0 rgba(0, 0, 0, 0.14);
  background-color: white;
  color: #0454e4;
}
.main-menu ul li:hover i,
.main-menu ul li:hover a {
  color: #0454e4;
}
.main-menu ul i {
  display: block;
  margin: 45px auto 19px;
  font-size: 55px;
}

.navigation {
  width: 100%;
  margin-top: 40px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  position: relative;
}
.navigation ul li {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.4);
  display: inline-block;
  margin: 0 38px 5px 0;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  font-weight: 700;
}
.navigation ul li a {
  color: rgba(255, 255, 255, 0.4);
  margin: 0;
  text-decoration: none;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.navigation ul li:hover a,
.navigation ul li.active a {
  color: #fff;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
}
.navigation ul li.active:after {
  content: "";
  position: absolute;
  margin: auto;
  bottom: -14px;
  left: 0;
  right: 0;
  width: 8px;
  height: 8px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  background-color: #0454e4;
}
.navigation ul li.active:after a {
  content: "";
  position: absolute;
  margin: auto;
  bottom: -14px;
  left: 0;
  right: 0;
  width: 8px;
  height: 8px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  background-color: #0454e4;
}

.sub-header {
  padding: 40px 0 60px;
}
.sub-header::after {
  display: block;
  content: "";
  clear: both;
}
.sub-header .sub-header-left {
  float: left;
  width: 50%;
}
.sub-header .sub-header-left .device-count {
  font-size: 46px;
  display: inline-block;
  margin: 0 0 5px;
}
.sub-header .sub-header-left .device-desc {
  font-size: 17px;
}
.sub-header .sub-header-right {
  float: right;
  width: 50%;
  text-align: right;
}
.sub-header .sub-header-right .new-device-btn {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  padding: 6px 10px;
}
.sub-header .sub-header-right .search-box {
  margin-bottom: 14px;
}
.sub-header .sub-header-right .search-box .search-input {
  background: none;
  border: 0;
  color: #fff;
  text-align: right;
  font-size: 12px;
  width: 56px;
  position: relative;
  top: -3px;
}
.sub-header
  .sub-header-right
  .search-box
  .search-input::-webkit-input-placeholder {
  color: #fff;
}
.sub-header .sub-header-right .search-box .search-input:-moz-placeholder {
  color: #fff;
}
.sub-header .sub-header-right .search-box .search-input::-moz-placeholder {
  color: #fff;
}
.sub-header .sub-header-right .search-box .search-input:-ms-input-placeholder {
  color: #fff;
}

.items-table .items-table-header {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.82);
  padding: 0 10px 6px;
  font-size: 12px;
  text-transform: uppercase;
}
.items-table .items-table-header::after {
  display: block;
  content: "";
  clear: both;
}
.items-table .accordion-header {
  font-size: 17px;
  padding: 18px 10px 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
  overflow: hidden;
}
.items-table .accordion-header:nth-last-child(2) {
  border-bottom: 0;
}
.items-table .accordion-header.ui-accordion-header-active {
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 0;
}
.items-table .accordion-header.ui-accordion-header-active .row-number,
.items-table .accordion-header.ui-accordion-header-active .row-name {
  display: none;
}
.items-table .accordion-header.ui-accordion-header-active .action-icons {
  float: right;
}
.items-table
  .accordion-header.ui-accordion-header-active
  .action-icons
  .toggle-ico {
  transform: rotate(180deg);
}
.items-table .items-table-header,
.items-table .accordion-header {
  cursor: pointer;
}
.items-table .items-table-header i,
.items-table .accordion-header i {
  float: left;
}
.items-table .items-table-header i:nth-of-type(1),
.items-table .accordion-header i:nth-of-type(1) {
  width: 23%;
}
.items-table .items-table-header i:nth-of-type(2),
.items-table .accordion-header i:nth-of-type(2) {
  width: 57%;
}
.items-table .items-table-header i:nth-of-type(3),
.items-table .accordion-header i:nth-of-type(3) {
  width: 20%;
  text-align: right;
  padding-right: 30px;
}
.items-table .items-table-header i.action-icons,
.items-table .accordion-header i.action-icons {
  padding-right: 0;
}
.items-table .items-table-header i.action-icons span,
.items-table .accordion-header i.action-icons span {
  margin-right: 20px;
  opacity: 0.5;
}
.items-table .accordion-content {
  /* display: none; */
  padding: 0 29px 22px;
  background-color: rgba(0, 0, 0, 0.1);
}
.items-table .accordion-content table th,
.items-table .accordion-content table td {
  text-align: left;
  padding-bottom: 20px;
}
.items-table .accordion-content table th {
  font-weight: 700;
  text-transform: uppercase;
  width: 23%;
}
.items-table .accordion-content table td p {
  line-height: 25px;
}
.items-table .accordion-content .sub-table table {
  display: block;
  height: 120px;
  overflow-y: scroll;
}
.items-table .accordion-content .sub-table th {
  border-bottom: 1px solid rgba(255, 255, 255, 0.19);
  font-size: 12px;
  font-weight: 300;
  padding: 10px;
}
.items-table .accordion-content .sub-table td {
  padding: 10px;
  font-size: 12px;
}

.items-table-footer {
  padding-top: 60px;
}
.items-table-footer::after {
  display: block;
  content: "";
  clear: both;
}
.items-table-footer .pagination {
  float: left;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  font-size: 16px;
}
.items-table-footer .pagination a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  margin-left: 20px;
  display: inline-block;
}
.items-table-footer .pagination a.current {
  border: 1px solid rgba(255, 255, 255, 0.73);
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
  font-weight: 700;
  color: #fff;
  padding: 4px 8px;
}
.items-table-footer .items-per-page {
  float: right;
}

.add-new-device {
  padding: 40px 0 0;
  margin: 0 auto;
  width: 656px;
}
.add-new-device .save-btn,
.add-new-device .cancel-btn,
.add-new-device .add-attr-btn {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  padding: 7px 40px;
}
.add-new-device a {
  text-decoration: none;
}
.add-new-device .back-to-list {
  margin-bottom: 18px;
  cursor: pointer;
}
.add-new-device .back-to-list span {
  display: inline-block;
  vertical-align: top;
  margin-left: 6px;
}
.add-new-device h2.add-new-device-title {
  margin: 0 0 60px 0;
  font-size: 30px;
}
.add-new-device form .device-attr::after {
  display: block;
  content: "";
  clear: both;
}
.add-new-device form .device-attr label {
  display: block;
  width: 20%;
  float: left;
}
.add-new-device form .device-attr .device-attr-table {
  width: 80%;
  float: right;
}
.add-new-device form .device-attr .device-attr-table table {
  text-align: left;
  width: 100%;
  /* margin-bottom: 60px; */
}
.add-new-device form .device-attr .device-attr-table table th {
  border-bottom: 1px solid rgba(255, 255, 255, 0.19);
  font-size: 12px;
  font-weight: 300;
  padding: 0 10px 10px;
}
.add-new-device form .device-attr .device-attr-table table td {
  padding: 10px;
  font-size: 12px;
}
.add-new-device form .device-attr .device-attr-table .add-attr {
  border: 1px dashed rgba(255, 255, 255, 0.2);
  margin-bottom: 54px;
  padding: 17px 10px;
}
.add-new-device form .device-attr .device-attr-table .add-attr input,
.add-new-device form .device-attr .device-attr-table .add-attr select {
  padding: 0 0 3px;
  color: white;
  border: 0;
  background: none;
  border-bottom: solid 1px rgba(255, 255, 255, 0.7);
  width: 30%;
  margin-right: 2%;
}
.add-attr select {
  padding: 0 0 3px;
  color: white;
  border: 0;
  background: none;
  border-bottom: solid 1px rgba(255, 255, 255, 0.7);
  width: 30%;
  margin-bottom: 40px;
}
select option {
  color: #000000;
}
.add-new-device
  form
  .device-attr
  .device-attr-table
  .add-attr
  input::-webkit-input-placeholder {
  color: #fff;
}
.add-new-device
  form
  .device-attr
  .device-attr-table
  .add-attr
  input:-moz-placeholder {
  color: #fff;
}
.add-new-device
  form
  .device-attr
  .device-attr-table
  .add-attr
  input::-moz-placeholder {
  color: #fff;
}
.add-new-device
  form
  .device-attr
  .device-attr-table
  .add-attr
  input:-ms-input-placeholder {
  color: #fff;
}
.add-new-device form .device-attr .device-attr-table .add-attr .border-btn {
  /* margin-top: 35px; */
  padding-right: 20px;
  padding-left: 20px;
  font-size: 12px;
  display: block;
}
.add-new-device form .required {
  position: relative;
}
.add-new-device form .required input,
.add-new-device form .required textarea {
  border-bottom: solid 1px #ff5252 !important;
}
.add-new-device form .device-encrypt {
  margin-bottom: 40px;
}
.add-new-device form .device-encrypt label {
  padding-right: 70px;
}
.add-new-device form .device-name input,
.add-new-device form .device-name textarea,
.add-new-device form .device-desc input,
.add-new-device form .device-desc textarea {
  width: 100%;
  padding: 0 0 3px;
  font-size: 16px;
  color: white;
  margin-bottom: 40px;
  border: 0;
  background: none;
  border-bottom: solid 1px rgba(255, 255, 255, 0.7);
}
.add-new-device form .device-name input,
.add-new-device form .device-desc input {
  width: 40%;
}
.add-new-device form .device-name label,
.add-new-device form .device-desc label {
  display: inline-block;
  width: 100%;
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  margin-bottom: 3px;
}
.select {
  padding: 0 0 3px;
  color: white;
  border: 0;
  background: none;
  border-bottom: solid 1px rgba(255, 255, 255, 0.7);
  width: 30%;
  margin-right: 2%;
}

#granted-roles-table {
  margin-bottom: 20px;
}

#granted-roles-table th,
#granted-roles-table td {
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */
